.font1 {
  font-family: "Berkshire Swash", cursive;
  font-family: "Cormorant Garamond", serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Domine", serif;
  font-family: "Merriweather", serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
}
